<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Squattr Report for <%= names_list %></title>

<link rel="stylesheet" href="../lib/blueprint.css" type="text/css" />
<link rel="stylesheet" href="../lib/reports.css" type="text/css" />

</head>
<body>
	
<section id="wrap">
	
	<h1><%= names_list %></h1>
	<span id="report-time"><%= display_time %></span>
	
	<section id="list">
	
		<% list.each do |domain| %>
			<% if !domain['hits'].empty? %>
		
			<h3><%= domain['name'] %></h3>
			<h6><%= domain['query'] %></h6>
			<ul>
			<% domain['hits'].each do |hit| %>
				<li><a href="http://domai.nr/api/register?domain=<%= hit %>">
				<%= hit %>
				</a></li>
			<% end %>
			</ul>
			
			<% end %>
		<% end %>	
	
	</section>
</section>

<footer><a href="https://github.com/p3drosola/squattr">Squattr</a> - by <a href="http://twitter.com/p3drosola">@p3drosola</a></footer>

</body>
</html>
